---
Title: Cake.EventLog
NoSidebar: true
NoContainer: false
NoGutter: true
---

<div class="container">				
	<h1>What is it?</h1>
    <p>
        A simple Cake addin to interact with the Windows event log from Cake scripts.
    </p>

    <h1>Using this documentation:</h1>
    <p>
        Click the tags at the top of the page to navigate:
    </p>

    <ul>
        <li>
            <strong>Documentation:</strong> General Documentation
        </li>
        <li>
            <strong>Blog:</strong> Latest news about this addin
        </li>
        <li>
            <strong>API:</strong> Full API documentation
        </li>
    </ul>
</div>